# Parámetros de la JDK
#export JVMFLAGS="-Xmx1G -Xms1G"
export JVMFLAGS="{{ jvm_xmx|default('-Xmx1G')}} {{ jvm_xms|default('-Xms1G') }} -Dlog4j.configuration=file:{{ log4j_properties|default('/opt/zookeeper/conf/log4j.properties') }}"