[global_config]
  always_split_with_profile = True
  enabled_plugins = CustomCommandsMenu, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  inactive_color_offset = 0.509615384615
  scroll_tabbar = True
  title_font = Monospace Bold 16
  title_inactive_bg_color = "#084857"
  title_inactive_fg_color = "#ffffff"
  title_receive_bg_color = "#8ae234"
  title_transmit_bg_color = "#2390b3"
  window_state = maximise
[keybindings]
  broadcast_all = <Alt>a
  broadcast_group = <Alt>g
  broadcast_off = <Alt>o
  close_term = <Primary><Shift>w
  close_window = <Primary><Shift>q
  copy = <Primary><Shift>c
  cycle_next = None
  cycle_prev = None
  edit_tab_title = None
  edit_terminal_title = None
  edit_window_title = None
  go_down = <Alt>Down
  go_left = <Alt>Left
  go_right = <Alt>Right
  go_up = <Alt>Up
  go_next = None
  go_prev = None
  group_all = None
  group_all_toggle = None
  group_tab = <Primary><Alt>g
  group_tab_toggle = None
  help = None
  hide_window = None
  insert_number = None
  insert_padded = None
  layout_launcher = None
  line_down = None
  line_up = None
  move_tab_left = <Primary>Left
  move_tab_right = <Primary>Right
  new_tab = <Primary><Shift>t
  new_terminator = None
  new_window = <Primary><Shift>i
  next_profile = None
  next_tab = None
  page_down = None
  page_down_half = None
  page_up = None
  page_up_half = None
  paste = <Primary><Shift>v
  previous_profile = None
  prev_tab = None
  reset = None
  reset_clear = <Primary><Shift>g
  resize_down = <Primary><Shift>Down
  resize_up = <Primary><Shift>Up
  resize_left = <Primary><Shift>Left
  resize_right = <Primary><Shift>Right
  rotate_ccw = None
  rotate_cw = None
  scaled_zoom = None
  search = None
  split_hori = <Pimary><Shift>o
  split_vert = <Primary><Shift>e
  switch_to_tab_1 = <Primary><Alt>1
  switch_to_tab_10 = <Primary><Alt>0
  switch_to_tab_2 = <Primary><Alt>2
  switch_to_tab_3 = <Primary><Alt>3
  switch_to_tab_4 = <Primary><Alt>4
  switch_to_tab_5 = <Primary><Alt>5
  switch_to_tab_6 = <Primary><Alt>6
  switch_to_tab_7 = <Primary><Alt>7
  switch_to_tab_8 = <Primary><Alt>8
  switch_to_tab_9 = <Primary><Alt>9
  toggle_scrollbar = None
  toggle_zoom = None
  ungroup_all = None
  ungroup_tab = <Primary><Alt>o
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:0
      size = 1920, 1051
      title = nebul4ck
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 524
      ratio = 0.500956022945
      type = HPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = nebul4ck
      type = Terminal
    [[[terminal3]]]
      order = 1
      parent = child1
      profile = nebul4ck
      type = Terminal
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.73
    background_type = transparent
    copy_on_selection = True
    cursor_color = "#00ff00"
    cursor_shape = ibeam
    font = Monospace 11
    foreground_color = "#00ff00"
    scrollback_infinite = True
    scrollback_lines = 5120
    scrollbar_position = hidden
    show_titlebar = False
  [[nebul4ck]]
    background_color = "#0a262e"
    copy_on_selection = True
    cursor_color = "#aaaaaa"
    cursor_shape = ibeam
    foreground_color = "#d3d7cf"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
    scrollback_lines = 5120
    scrollbar_position = hidden
    show_titlebar = False
