APT::Acquire::https "true";

Acquire::https::{{ buanarepo_dev_restricted }} {
  Verify-Peer "false";
  Verify-Host "false";

  CaInfo "{{ buanarepo_restricted_certs_base }}/{{ buanarepo_dev_ca_restricted_crt }}";

  SslCert "{{ buanarepo_restricted_certs_base }}/{{ buanarepo_dev_client_restricted_crt }}";
  SslKey  "{{ buanarepo_restricted_certs_base }}/{{ buanarepo_dev_client_restricted_key }}";
};