global
    maxconn {{ max_conn|default(4096) }}
    log /dev/log    local7
    # ulimit-n {{ haproxy_ulimit|default(65536) }}
    stats socket /var/run/haproxy.sock mode 660 level admin
    stats timeout {{ stats_timeout|default('30s') }}
    user {{ haproxy_user|default('haproxy') }}
    group {{ haproxy_group|default('haproxy') }}
    {{ run_as_daemon|default('daemon') }}

    # Default SSL material locations
    ca-base {{ ca_base|default('/certs') }}
    crt-base {{ crt_base|default('/certs/private') }}

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL). This list is from:
    #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3

defaults
    log global
    option  dontlognull
    option  redispatch
    retries {{ retries|default(3) }}
    compression algo gzip
    maxconn {{ max_conn|default(4096) }}
    timeout connect {{ timeout_connect|default(5000) }}
    timeout client  {{ timeout_client|default(300000) }}
    timeout server  {{ timeout_server|default(300000) }}
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

#--------------------------------------------------------
# Front-ends
#--------------------------------------------------------

#Frontend secure vernemq
frontend vernemq_frontend
    mode tcp
    bind *:{{ vernemq_frontend_port|default(30005) }} ssl crt /etc/haproxy/certs/{{ verne_node_pem|default('node.pem') }} ca-file /etc/haproxy/certs/{{ ca_certs|default('ca.crt') }} verify required
    default_backend vernemq_be

#Frontend insecure vernemq
frontend vernemq_insecure_frontend
    mode tcp
    bind *:{{ vernemq_insecure_frontend_port|default(30006) }} 
    default_backend vernemq_insecure_be

#--------------------------------------------------------
# Back-ends
#--------------------------------------------------------

backend vernemq_be
    mode tcp
    option tcp-check
    option tcplog

    balance source
    hash-type consistent 
    server vernemq-1 vernemq1:{{ verne_port|default(1883) }} check inter 3000 rise 2 fall 3

backend vernemq_insecure_be
    mode tcp
    option tcp-check
    option tcplog

    balance first
    hash-type consistent
    server vernemq-1 vernemq1:{{ verne_port|default(1883) }} check inter 3000 rise 2 fall 3

#--------------------------------------------------------
### HAProxy Stats
#--------------------------------------------------------

listen stats
    bind :1985
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /hapstats
    stats auth monitor:oB0FGzL9aAMidN0P0sPdEVe