Package: pydeb
License: Wellness Telecom 1.0
Vendor: Wellness Telecom, Labs.
Essential: no
Version: 0.1.0
Section: main
Priority: optional
Architecture: all
Recommends: python3, python-configparser, python-setuptools, python3-setuptools, python3-setuptools-scm, python-setuptools-scm, python-stdeb, python3-stdeb
Maintainer: Wellness Labs inarvaez@wtelecom.es
Homepage: https://github.com/wtelecom/wlabs-tools
Description: Python to Debian package converter.
