cluster.name: {{ tenant_name }}
node.name: {{ es_host }}
node.master: {{ es_master|default('false') }}
node.data: {{ es_data|default('true') }}
path.data: {{ es_data_dir|default('/var/lib/elasticsearch') }}
path.logs: {{ es_log_dir|default('/var/log/elasticsearch') }}
bootstrap.memory_lock: {{ es_bootstrap_memory_lock|default('true') }}
network.host: {{ es_host }}
http.port: {{ es_port|default(9200) }}
discovery.zen.ping.unicast.hosts: {{ elasticsearch_cluster }}
discovery.zen.minimum_master_nodes: {{ es_discovery_zen_minimum_master_nodes|default(1) }}
action.auto_create_index: {{ es_action_auto_create_index|default('false') }}