#DirectAdmin config file
#For full listing of set variables, run: /usr/local/directadmin/directadmin c
#For information on a given variable, search it in the versions system: https://directadmin.com/versions.php
#More information on setting values to the directadmin.conf: https://help.directadmin.com/item.php?id=641

#Below, we have values for new installs, which override the internal defaults.
#They're listed here so as to not affect existing installs.

# Environment
#servername={{ serverFQDN }}
ethernet_dev={{ ansible_default_ipv4.interface }}
#ns1=ns1sd{{ productID }}.dnslineagrafica.net
#ns2=ns2sd{{ productID }}.dnslineagrafica.net
name=DirectAdmin
numservers=10
timeout=60
da_autoupdate=no
system_user_to_virtual_passwd=1
zip=1
da_gzip=1
cloud_cache=0
filemanager_du=0
tally_after_restore=2
systemd=1
maxfilesize=524288000
max_read_to_memory_size=524288000
max_username_length=10
allow_upper_case_username=0
convert_to_punycode=0
check_group_on_user_create=1
check_home_path_on_user_create=1
notify_admins_on_all_account_creation=0
user_action_locking=30
login_history=10
login_history_include_login_as=0
check_referer=1
session_requires_referer=1
allow_foreign_key=0
login_keys=1
login_keys_notify_on_creation=1
login_hash_expiry_minutes=4320
cluster=0
cluster_user_sync=0
enable_threads=0
show_all_users_cache_extra_vars=date_created
commands_force_deny=CMD_LOGIN_KEYS:CMD_API_LOGIN_KEYS
use_uid_counting=1
process_list_debug=0
language=es
filemanager_show_directory_count=1
filemanager_disable_features=0
fm_hour_offset=0.000000
fm_purge_trash_days=30
fm_allow_binary_edit=0
fm_to_trash_default=1
hide_ip_user_numbers=0
user_can_select_skin=0
skin_domain_redirect=1
subdomain_force_redirect=0
allow_admin_login_as_to_reseller_skin=1
reseller_use_admin_config_json=1
reseller_can_customize_config_json=1
jail=1
multi_ip_enabled=1
allow_user_exec=0
hook_custom_vars=0
plugins_allowed_run_as=1
check_plugin_update_interval=1440
plugin_max_hooks=16
allow_numeric_username=0
tokenizer_debug=0
tokenizer_clear_env=1
tokenize_script_output=0
show_custom_script_path=1
remove_clipboard_on_logout=1
direct_crons=1
lost_password=0
background_delete_size=10240
background_delete_if_num_db_users=500

# Networking
port=2222
port_80=80
port_443=443
port_8080=8080
port_8081=8081
unit_port=8090
unit_port_ssl=8091
disable_ip_check=1

# Logs
logs_to_keep=5
logs_history_as_nobody=0
compress_rotated_logs=1
logdir=/var/log/directadmin
errorlog=/var/log/directadmin/error.log
systemlog=/var/log/directadmin/system.log
securitylog=/var/log/directadmin/security.log
pipe_log=/dev/null
loginlog=/var/log/directadmin/login.log

# Files & Paths
admindir=./data/admin
tmpdir=/home/tmp
backup_tmpdir=/home/tmp
serverpath=/usr/local/directadmin
ticketsdir=/usr/local/directadmin/data/tickets
license=/usr/local/directadmin/conf/license.key
templates=/usr/local/directadmin/data/templates
sessions_dir=/usr/local/directadmin/data/sessions
taskqueue=/usr/local/directadmin/data/task.queue
taskqueueda=/usr/local/directadmin/data/task.queue.da
taskqueuecb=/usr/local/directadmin/data/task.queue.cb
internal_lang=/usr/local/directadmin/data/skins/enhanced/lang
sshdconfig=/etc/ssh/sshd_config

# os commands
usermod=/usr/sbin/usermod
useradd=/usr/sbin/useradd
userdel=/usr/sbin/userdel
groupadd=/usr/sbin/groupadd
groupdel=/usr/sbin/groupdel
passwd=/usr/bin/passwd
htpasswd=/usr/bin/htpasswd
openssl=/usr/bin/openssl
chpass=/usr/bin/chpass
chpasswd=/usr/sbin/chpasswd
edquota=/usr/sbin/edquota
setquota=/usr/sbin/setquota
xfs_quota=/usr/sbin/xfs_quota
repquota=/usr/sbin/repquota
quota=/usr/bin/quota
curl=/usr/local/bin/curl
pw=/usr/sbin/pw
pigz_bin=/usr/local/bin/pigz
unpigz_bin=/usr/local/bin/unpigz
zstd_bin=/usr/bin/zstdmt
pure_pw=/usr/bin/pure-pw
dig=/usr/bin/dig
addip=/usr/local/directadmin/scripts/addip
removeip=/usr/local/directadmin/scripts/removeip
mq_exim_bin=/usr/sbin/exim

# monit
check_load=10
check_load_minute=5
load_notice_interval=10
load_top_string=/usr/bin/top -c -b -n 1
load_iotop_string=/usr/sbin/iotop -b -n 1
check_partitions=2
partition_usage_threshold=95
disk_usage_suspend=0
reseller_allocation_include_self=0
send_usage_message=1
check_task_queue=2048
track_task_queue_processes=1
cpu_in_system_info=2
ram_in_system_info=1
load_in_system_info=1
cb_version_check_odds_percent=10
master_login_max_list=500
ajax_cache_max_time=1800
ajax_search_max_time=2.000000
reseller_warning_thresh=75
user_warning_thresh=80
user_warning_thresh_disk=95
user_warning_thresh_inode=95
notify_user_at_full_quota=1

# Evolution Skin.
docsroot=./data/skins/evolution
demodocsroot=./data/skins/evolution
skinsdir=./data/skins
favicon_ico=favicon.ico

# Webserver
frontpage_on=0
# exim: forzar salida por IP de usuario
add_domain_to_domainips=1
#domainips_default_ip={{ ipFailover }}
http2=1
secure_access_group=access
secure_disposal=/home/.disposal
default_private_html_link=1
rotate_httpd_error_log_meg=0
rotate_httpd_error_log_truncate=1
rotate_httpd_error_log_notify=3
rotate_httpd_error_log_global=0
custom_httpd_syntax_check=1
pointers_own_virtualhost=1
allow_ttl_override=1
default_ttl=3600
cross_user_ssl_cert=1
modsec_audit_dir=/var/log/modsec_audit

# apache
apache_public_html=0
apache_ver=2.0
apachelogdir=/var/log/httpd/domains
apacheconf=/etc/httpd/conf/extra/directadmin-vhosts.conf
apache_pid=/var/run/httpd.pid
apachemimetypes=/etc/mime.types
apacheips=/etc/httpd/conf/ips.conf
apachecert=/etc/httpd/conf/ssl.crt/server.crt
apachekey=/etc/httpd/conf/ssl.key/server.key
apacheca=/etc/httpd/conf/ssl.crt/server.ca
graceful_restarts=1
restart_apache_after_tally=1
reload_apache_after_rotation=1
add_apache_comments=1

# litespeed
litespeed=0
openlitespeed=0
user_can_reload_openlitespeed=1
openlitespeed_listeners=/usr/local/lsws/conf/listeners.conf
openlitespeed_ips_conf=/usr/local/lsws/conf/ips.conf
openlitespeed_vhosts_conf=/usr/local/lsws/conf/directadmin-vhosts.conf
openlitespeed_cert=/usr/local/lsws/ssl.crt/server.crt
openlitespeed_key=/usr/local/lsws/ssl.key/server.key
openlitespeed_ca=/usr/local/lsws/ssl.crt/server.ca

# php
php_version_selector=1
php_fpm_restarts=0
php_home_tmp_session_save_path=1
open_basedir=ON
fm_owners=|USER|:|GROUP|
fm_file_permissions=644
fm_dir_permissons=755
php_fpm_max_children_default=10
set_php_bin_path_in_crons=1
set_php_bin_path_in_shell=1
set_php_ini_scan_dir_in_crons=0

# nginx
nginx=0
nginx_proxy=0
nginx_proxy_buffering=0
nginx_fpm_always_set=0
nginxconf=/etc/nginx/directadmin-vhosts.conf
nginxlogdir=/var/log/nginx/domains
nginxips=/etc/nginx/directadmin-ips.conf
nginx_pid=/var/run/nginx.pid
nginx_cert=/etc/nginx/ssl.crt/server.crt
nginx_key=/etc/nginx/ssl.key/server.key
nginx_ca=/etc/nginx/ssl.crt/server.ca

# Mail
webmail_link=roundcube
dovecot=1
mail_sni=1
allow_incoming_email_on_suspend=0
dovecot_proxy=0
count_pop_usage=1
email_show_last_login=0
email_show_last_password_change=1
pop_disk_usage_cache=0
pop_disk_usage_dovecot_quota=1
dovecot_extra_fields=1
pop_disk_usage_true_bytes=0
default_pop_quota=50
purge_spam_days=0
show_main_spambox=1
delete_messages_days=0
delete_tickets_days=0
preserve_html_sequences=0
spam_inbox_prefix=1
clean_forwarders_on_email_delete=1
delete_vacation_on_end=0
allow_forwarder_pipe=1
forwarder_loop_check=1
default_mailing_list_max=100000
user_email_quota_max=0
reseller_can_set_email_limit=0
reseller_can_reset_email_count=0
user_can_set_email_limit=1
max_per_email_send_limit=1200
max_user_send_limit=-1
default_email_notify_limit=1000
notify_email_on_per_email_limit=1
notify_on_mass_emailing=1
notify_user_on_mass_emailing=1
notify_reseller_on_mass_emailing=1
notify_admins_on_mass_emailings=1
notify_admins_on_per_email_mass_emailings=1
hide_outlook=0
user_email_smtp_logs=1
emailvirtual=/etc/virtual
emailspoolvirtual=/var/spool/virtual
count_email_usage=0
maildir_with_new=1
hide_webmail_links=0
one_click_webmail_login=0
one_click_webmail_timeout=10
one_click_pma_login=0
one_click_webmail_link=/roundcube
spam_inbox_prefix_name=INBOX.spam
mq_exim_max_load_size=2000
email_ftp_password_change=1
mailtaskqueue=/etc/virtual/mail_task.queue

# ssl/certificates
ssl_port=0
ssl=1
force_ssl=1
ssl_cipher=HIGH:!aNULL:!MD5
enable_ssl_sni=1
ssl_ignore_when_local=1
cacert=/usr/local/directadmin/conf/cacert.pem
cakey=/usr/local/directadmin/conf/cakey.pem
carootcert=/usr/local/directadmin/conf/carootcert.pem
handshake_timeout=12
request_timeout=20
admin_ssl_replace_all_expired_invalid=1
admin_ssl_check_retries=1
admin_ssl_cert_per_vh=1
admin_ssl_install_to_missing=0
# Por defecto el siguiente valor está a 0
certificate_common_name_with_www=1
webapps_ssl=1
admin_ssl_poll_frequency=5m:15m:30m:4h:12h:1d:1w

# letsencrypt
ecc_certificates=1
letsencrypt=1
letsencrypt_renewal_days=60
letsencrypt_foreground_http_max=10
letsencrypt_success_full_output=0
letsencrypt_renewal_failure_notice_after_attempt=3
letsencrypt_disable_renew_after_renew_failure=0
letsencrypt_max_requests_per_week=200
# El siguiente parámetro pondremos 2 en su valor si fallase con 3.
letsencrypt_multidomain_cert=3
letsencrypt_renewal_success_notice=1
letsencrypt_renewal_notice_to_admins=1
letsencrypt_renewal_error_to_users=1
letsencrypt_request_results_to_admins=0
renew_letsencrypt_on_suspended_domain=0
letsencrypt_account_email=1
letsencrypt_list=www:mail:ftp:pop:smtp
letsencrypt_list_selected=www:mail:ftp:pop:smtp
letsencrypt_background_default=auto

# ftp
unified_ftp_password_file=1
pureftp=1
ftpconfig=/etc/proftpd.conf
ftpvhosts=/etc/proftpd.vhosts.conf
ftppasswd=/etc/proftpd.passwd
ftpsep=@
ftp_list_run_as=nobody
ftppasswd_db=/etc/pureftpd.pdb
pureftp_log=/var/log/pureftpd.log
incremental_ftp=1
set_crypt_for_anonymous_ftp=0

# dns
check_subdomain_owner=1
named_checkzone=1
named_rndc=0
named_rndc_addzone=0
named_checkzone_level=fail
namedconfig=/etc/bind/named.conf
nameddir=/etc/bind
allow_dns_underscore=1
wrap_long_dns_values=1
named_rename_hostname_zone=1
special_exit_code=42
dns_tlsa=0
dns_ttl=1
dns_ns=2
dns_ptr=2
dns_caa=0
dns_spf=0
dns_add_spf_ipv6=1
dnssec=0
user_dnssec_control=0
dnssec_mss_use_signed_zone=1
dnssec_add_subdomain_ds_to_parent=1
dnssec_add_subdomain_ds_to_remote_parent=1
dnssec_keygen_keysize=2048
full_mx_records=1
mx_templates=1
dns_affect_pointers_default=1
local_mailserver_without_dnscontrol=0

### DKIM ###
#Note: The dkim=2 setting, above, will not turn on DKIM for a domain when it's created. 
#It simply makes the feature available to Users, so they can turn it on if they use local DNS
#for their domain.
#Using dkim=1 means that it will be activated immediately when a domain is created on the system.
#Only use dkim=1 if all domains use local DNS.
#If external DNS is used, the DKIM TXT records must be copied over to the remote DNS,
#else the outbound emails will be signed but will fail since the dns checks will fail,
#which is actually far worse than having no DKIM at all.
dkim=1
dkim_selector=x

# quota
add_userdb_quota=1
quota_partition=/home
simple_disk_usage=0
realtime_quota=2
use_xfs_quota=0
xfs_on_domains=0
auto_detect_filesystem_type=1
hard_quota_multiplier=1.1
inode=1
count_other_disk_usage=0
usersdir=./data/users
userdata=./data/users
quota_update_interval=10

# security
safemode=OFF
hide_brute_force_notifications=1
brute_force_log_scanner=1
show_php_version=1
show_info_in_header=0
show_info_in_title=1
show_db_usage=1
show_pointers_in_list=1
enforce_difficult_passwords=0
special_characters_in_random_passwords=0
ambiguous_characters_in_random_passwords=1
random_password_length=8
random_password_length_max=10
difficult_password_length_min=6
crypt_method=6
allow_subdomain_docroot_override=1
check_subdomain_owner_in_cluster_domainowners=0
allow_domain_special_characters=1
users_can_add_remove_domains=0
users_can_rename_domains=1
ip_blacklist=/usr/local/directadmin/data/admin/ip_blacklist
ip_whitelist=/usr/local/directadmin/data/admin/ip_whitelist
bruteforce=1
brutecount=30
brute_dos_count=100
exempt_local_block=0
brute_force_time_limit=1200
clear_blacklist_ip_time=86400
brute_force_notifications_email_only=0
brute_force_ignore_attempts_on_suspended=1
notify_on_license_update=1
brute_force_scan_apache_logs=0
brute_force_apache_log_list_update_interval=10
brute_force_scan_mod_security_logs=1
ip_brutecount=100
user_brutecount=100
clear_brute_log_time=24
clear_brute_log_entry_time=4
unblock_brute_ip_time=86400
include_directadmin_port_in_brute_firewall=0
brute_force_mail_log=/var/log/mail.log
brute_force_exim_log=/var/log/exim/mainlog
brute_force_exim_reject_log=/var/log/exim/rejectlog
brute_force_exim_panic_log=/var/log/exim/paniclog
block_cracking_variables_conf=/etc/exim.blockcracking/variables.conf
exim_paniclog=0
brute_force_mysql_log=/var/lib/mysql/hosting-4100-10122-cloud.lineagrafica.es.err
brute_force_roundcube_log=/var/www/html/roundcube/logs/errors.log
brute_force_squirrelmail_log=/var/www/html/squirrelmail/data/squirrelmail_access_log
brute_force_pma_log=/var/www/html/phpMyAdmin/log/auth.log
brute_force_secure_log=/var/log/auth.log
brute_force_messages_log=/var/log/messages
brute_force_pureftpd_log=/var/log/pureftpd.log
security_questions=1
max_security_question_attempts=5
block_ip_after_failed_security_questions=0
twostep_auth=1
block_ip_after_failed_twostep_auth=0
max_twostep_auth_attempts=5
twostep_auth_discrepancy=1
twostep_auth_trust_days=30
htm_all_scripts=0
always_load_all_script_env_vars=0
reserved_env_vars=PATH:SHELL:_:LD_LIBRARY_PATH:LD_PRELOAD:LD_DEBUG:LD_DEBUG_OUTPUT:LD_DYNAMIC_WEAK:LD_SHOW_AUXV:GETCONF_DIR:NLSPATH:NIS_PATH:IFS:LD_AUDIT:LD_AOUT_LIBRARY_PATH:LD_AOUT_PRELOAD:LD_ORIGIN_PATH:LD_PROFILE:GCONV_PATH:HOSTALIASES:LOCPATH:MALLOC_TRACE:RESOLV_HOST_CONF:RES_OPTIONS:TMPDIR:TZDIR:LD_USE_LOAD_BIAS:MALLOC_CHECK_:ORIGIN:LC_ALL

# mysql
mysql_detect_correct_methods=1
mysql=1
mysqldump_routines=1
mysql_remove_test_db=1
database_extended_user_privileges=1
# En un futuro quizas habilitemos esto a 1 y creemos un tempalte de ansible
#que contemple CPU y RAM e instale un my.cnf acorde a las características del
#servidor.
custom_mysql_conf=0
restore_database_as_admin=1
allow_db_underscore=0
db_grant_escape_db=1
mysqlconf=/usr/local/directadmin/conf/mysql.conf
damycnf=/usr/local/directadmin/conf/my.cnf
default_mysqldump_options=--single-transaction

# backups
skip_hometargz_in_backups=0
skip_domains_in_backups=0
skip_imap_in_backups=0
skip_trash_in_backups=0
direct_imap_backup=1
skip_uebimiau_in_backups=0
skip_roundcube_in_backups=0
webmail_backup_is_email_data=1
skip_databases_in_backups=0
skip_ftp_on_backup_fail=0
backup_apache_files_list=1
backup_hard_link_check=1
backup_ftp_pre_test=1
backup_ftp_md5=0
allow_backup_encryption=0
backup_tmp_path_has_pid=1
notify_on_suspicious_stats_folder=1
strict_backup_permissions=1
add_non_readable_files_to_strict_backup=1
backup_gzip=1
backup_debug=0
allow_backup_exclude_path=1
allow_backup_exit_code_one=1
backup_nice=19
reseller_backup_bandwidth=1
sysbk_conf=/usr/local/sysbk/conf.sysbk

# More..
listen_backlog=8
ssl_allow_signed_sha1=0
hsts=-1
ipv6=1
da_website=https://www.directadmin.com/
upload_idle_timeout=120
get_current_version_timeout=5
session_minutes=60
use_cookie_expires=1
session_cookie_multiplier=24
cookie_samesite=Lax
cache_time=28800
extract_list_max_files=5000
awstats=0
webalizer=1
rotation=1
stats_owned_by_user=0
ensure_root_awstats_link=1
use_syslogd=0
pid_to_logs=0
php_mail_log=1
cgroup=1
remote_dns_retries=0
block_cracking_unblock=1
block_cracking_unblock_minutes=120
parse_php_mail_log_at_limit=1
disable_php_script_at_limit_threshold=80
disable_php_script_at_limit_minimum=100
utf8_encode_subject=0
utf8_encode_from_to=0
abort_source_on_error=1
database_dump_timeout=14400
allow_email_plus=0
lock_debug=0
debug_only_cmd=0
debug_user_locking=0
update_channel=current
block_token_chars=$[]<>:#
global_httpd_tokens=/usr/local/directadmin/data/admin/global_httpd_tokens.conf
password_placeholder=XXXXXXXXXX
referrer_policy=off
x_frame_options=sameorigin
user_helper=www.site-helper.com
reseller_helper=reseller.site-helper.com
admin_helper=admin.site-helper.com
msg_sys=Message System
old_public_html_link=1
table_highlighting=1
table_default_ipp=50
table_case_sensitive_search=1
background_suspend_if_num_users=0
