<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<!-- GLOBAL -->
<property>
	<name>fs.defaultFS</name>
	<value>hdfs://{{ hdfs_namenode }}:{{ hdfs_namenode_port|default(54310) }}</value>
</property>

<property>
	<name>io.file.buffer.size</name>
	<value>{{ hdfs_io_file_buffer_size }}</value>
	<description>Size of read/write buffer used in SequenceFiles.</description>
</property>

<property>
	<name>hadoop.tmp.dir</name>
	<value>{{ hdfs_tmp_dir|default('/tmp') }}</value>
</property>

</configuration>